torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
torchcodec>=0.7.0

pyannote.audio==4.0.4
python-dotenv==1.0.1
speechbrain==1.0.3
audio-separator==0.24.1
onnxruntime==1.20.1
yt-dlp
groq==0.13.0
ffmpeg-python==0.2.0
ascii-magic==2.3.0
deepface==0.0.93
nltk==3.9.1
faster-whisper==1.1.1
transformers>=4.48.3,<5
librosa>=0.10.0
numpy==1.26.4
numba>=0.57.0
TTS==0.21.0
